*{
	padding: 0px;
	margin:0px;
}
li{
	list-style: none;
}

#Fotos{
 	background-color: #eee;
 	position: absolute;
 	width: 75%;
 	left: 0px;
}
#Perfiles{
 background-color: #fff;
 position: absolute;
 width: 25%;
 right: 0px;
}

#Perfiles ul{
	display: flex;
	justify-content: space-around ;
}
#Perfiles ul li{
	width: 100px;
	height: 100px;
	background-color: #ccc;
	cursor: pointer;
}
#Perfiles ul li:hover{
	background-color: #ddd;
}
.dropzone.dz-drag-hover{
	background-color: #999;
}