<md-dialog id="agregar-perfil-form">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{accion}} Album</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">

        </md-button>
      </div>
    </md-toolbar>

<md-dialog-content>
      <div class="md-dialog-content">
        <form>
          <md-input-container class="md-block">
            <label>Nombre del Album</label>
            <input ng-model="album.nombre">
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       cancelar
      </md-button>
      <md-button ng-click="accept()">
        {{accion}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>