<header>
	<span class="md-headline" id="perfilSeleccionado">{{perfil.nombrePerfil}}</span>
	<span>{{perfil.numFotos}}</span>
	<md-button ng-hide="perfil == undefined" id="btn-agregar-fotos" class="md-raised md-primary" ng-click="mostrarAgregarFotos($event)"><md-icon class="small material-icons">library_add</md-icon>Agregar Fotos</md-button>
	<md-input-container>
		<label>Tags:</label>
	  <md-select ng-model="data.search" placeholder="Tag" class="md-no-underline">
	  	<md-option value="">Ninguno</md-option> 
	    <md-option ng-repeat="tag in allTags" value="{{tag}}">{{tag}}</md-option> 
	  </md-select>
	</md-input-container>
	<md-input-container>
		<label>Ordenar por:</label>
	  	<md-select ng-model="criterio" placeholder="Ordenar por" class="md-no-underline">
	    	<md-option value="-resolucion" ng-click="">Mas Resolución</md-option>
	    	<md-option value="rating" ng-click="">Mas Rating</md-option>
	    	<md-option value="proporcion" ng-click="">Orientación</md-option>
	  	</md-select>
	</md-input-container>


</header>
<div>
	Albums: <a ng-click="seleccionarAlbum(album.nombre)" ng-repeat="album in albums track by $index">{{album.nombre}}, </a>
	<md-button ng-hide="perfil == undefined" class="md-raised md-primary" ng-click="mostrarModificarAlbums($event)"><md-icon class="small material-icons">library_add</md-icon>Crear Albúm</md-button>
</div>
<ul id="grid">
	<foto class="grid-item" ng-repeat="foto in fotos | filter:data.search | orderBy:criterio"
 		foto="foto" 
 		directorio="{{directorioImgs}}"
 		eliminar-foto="eliminarFoto(id)"
 		mostrar-cambiar-foto-perfil="mostrarCambiarFotoPerfil(evento,foto)"
 		mostrar-modificar-foto="mostrarModificarFoto(evento,foto)"
 		last="$last"
 		layout-grid="layoutGrid()"
 		data-ng-click="mostrarCanvas(fotos,directorioImgs,$index)"
 		album="foto.album"
 		>
	</foto>
</ul>

<canvas id="canvas" style="" ng-keypress="down($event)" tabindex="1"></canvas>
<div style="visibility: hidden">
<div id="dialogCortar" class="md-dialog-container">
	<md-dialog>
		<div id="cropContenedor">
		</div>
		<a ng-click="cortarImg()" href="#" class="cortar">Cortar</a>
	</md-dialog>	
</div>
</div>