<li ancho="{{foto.ancho}}" alto="{{foto.alto}}" proporcion="{{foto.proporcion}}" album="{{foto.album}}">
	<img ng-src="{{directorio+foto.nombrePerfil+'/thumbs/'+foto.urlFoto}}"/>
	<div class="opciones" layout-align="center center">
		<a href="" ng-click="mostrarEliminarFoto({evento:$event,id:foto.idFoto})">
			<md-icon aria-label="android">delete</md-icon>
		</a>
		<a href="" ng-click="mostrarModificarFoto({evento:$event,foto:foto})">
			<md-icon aria-label="android">edit</md-icon>
		</a>
		<a href="" ng-click="mostrarCambiarFotoPerfil({evento:$event,foto:foto})">
			<md-icon aria-label="android">assignment_ind</md-icon>
		</a>
		<p ng-hide="foto.album==''">
			<md-chip>
				<md-icon class="small material-icons">photo_album</md-icon>{{foto.album}}<a href="" ng-click="modificarFotoAlbum({album:foto.album='',foto:foto})">
				<md-icon aria-label="android">cancel</md-icon>
				</a>
			</md-chip>
		</p>
		<p>
			<span ng-repeat="tag in foto.tagsArr">
				<md-icon class="small material-icons">local_offer</md-icon>{{tag}}
			</span>
		</p>
		<p>{{foto.ancho}} x {{foto.alto}}</p>
	</div>
</li>